<app-main-layout [dataset]="dataset">
  <mat-card>
    <mat-card-title><mat-icon>book</mat-icon> {{ source?.title }}</mat-card-title>
    <mat-card-subtitle>{{ source?.string }}</mat-card-subtitle>
    <mat-card-content>
      <div class="ui-g">
        <div class="ui-g-12">
          <app-attribute-list [dataset]="dataset" [attributes]="source?.attributes" [parent]="this" [showSources]=false [showSubmitters]=false></app-attribute-list>
        </div>
        <div class="ui-g-12">
          <app-multimedia-gallery [dataset]="dataset" [parent]="this" [multimedia]="source.images"></app-multimedia-gallery>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</app-main-layout>
