<p-panel>
  <p-header>{{ source?.string }}: {{ source?.title }}</p-header>
</p-panel>

<app-attribute-list [dataset]="dataset" [attributes]="source?.attributes" [parent]="this" [showSources]=false [showSubmitters]=false></app-attribute-list>
<br/>
<app-multimedia-gallery [dataset]="dataset" [parent]="this" [multimedia]="source.images"></app-multimedia-gallery>
<br/>
<!-- p-panel [showHeader]="false">
  <div><b>{{ source?.refn[0].string }}:&nbsp;</b> {{ source?.refn[0].tail }}</div>
  <div><b>{{ source?.changed[0].string }}:&nbsp;</b> {{ source?.changed[0].attributes[0].string }}</div>
</p-panel>
<br/ -->
