<app-main-layout [dataset]="dataset">
  <p-dataView [value]="notes" [style]="{'min-width':'500px'}" [paginator]="true" [rows]="30"
      paginatorPosition="both" pageLinks="10" [rowsPerPageOptions]="[10, 30, 100, 10000]"
      [alwaysShowPaginator]="false">
    <p-header><span>Note List</span>
      <span class="bump-out">
        <button mat-icon-button matTooltip="New note" color="primary" (click)="openCreateNoteDialog()">
          <mat-icon matListIcon>note_add</mat-icon></button>
        <app-new-note-dialog
            [p]="this"
            (emitClose)="closeNoteDialog()"
            (emitOpen)="onDialogOpen($event)"
            (emitOK)="createNote($event)"
            [(display)]="displayNoteDialog"></app-new-note-dialog>
      </span>
    </p-header>
    <ng-template let-note pTemplate="listItem">
      <div class="main-list">
        <app-note-list-item [parent]="this" [note]="note" [dataset]="dataset"></app-note-list-item>
      </div>
    </ng-template>
  </p-dataView>
</app-main-layout>
