<div mat-dialog-title>
  <mat-toolbar color="primary"><mat-icon matListIcon>image</mat-icon> &nbsp; Multimedia item</mat-toolbar>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <br/>
  <div>
    <div cdkDropList class="file-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="!hasSignedIn()">
      @for (file of data.files; track $index) {
        <div cdkDrag class="{{ hasSignedIn() ? 'file-box' : '' }}">
          <br/>
          <mat-form-field>
            <mat-label>File URL</mat-label>
            <input matInput [(ngModel)]="file.fileUrl">
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Format</mat-label>
            <mat-select [(ngModel)]="file.format">
              @for (format of formats; track $index) {
                <mat-option [value]="format.value">{{ format.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <br/>
          <mat-form-field>
            <mat-label>Format</mat-label>
            <mat-select [(ngModel)]="file.sourceType">
              @for (type of sourceTypes; track $index) {
                <mat-option [value]="type.value">{{ type.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
        </div>
      }
    </div>
  </div>
  <br/>
  <mat-form-field>
    <mat-label>Note</mat-label>
    <textarea matInput [rows]="8" [cols]="100" [(ngModel)]="data.note"
        autoresize="autoResize"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button (click)="onNoClick()" >Cancel</button>
</div>
