<div mat-dialog-title>
  <mat-toolbar color="primary"><mat-icon matListIcon>image</mat-icon> &nbsp; Multimedia item</mat-toolbar>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-placeholder>Title</mat-placeholder>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <br/>
  <div>
    <div cdkDropList class="file-list" (cdkDropListDropped)="drop($event)">
      <div class="file-box" *ngFor="let file of data.files; let i=index" cdkDrag>
        <br/>
        <mat-form-field>
          <mat-placeholder>File URL</mat-placeholder>
          <input matInput [(ngModel)]="file.fileUrl">
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-placeholder>Format</mat-placeholder>
          <mat-select [(ngModel)]="file.format">
            <mat-option *ngFor="let format of formats" [value]="format.value">{{ format.label }}</mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-placeholder>Format</mat-placeholder>
          <mat-select [(ngModel)]="file.sourceType">
            <mat-option *ngFor="let type of sourceTypes" [value]="type.value">{{ type.label }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  </div>
  <br/>
  <mat-form-field>
    <mat-placeholder>Note</mat-placeholder>
    <textarea matInput [rows]="8" [cols]="100" [(ngModel)]="data.note"
        autoresize="autoResize"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button (click)="onNoClick()" >Cancel</button>
</div>
