<span>
  <button mat-icon-button matTooltip="Note" [matMenuTriggerFor]="noteMenu" color="primary">
    <mat-icon matListIcon>comment</mat-icon></button>
</span>

<mat-menu #noteMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="openNoteDialog()"><mat-icon>add_comment</mat-icon> Add note</button>
  <button mat-menu-item (click)="openLinkNoteDialog()"><mat-icon>link</mat-icon> Link note</button>
  <button mat-menu-item (click)="openUnlinkNoteDialog()"><mat-icon color="warn">link_off</mat-icon> Unlink note</button>
</mat-menu>

<app-link-dialog
    [p]="this" titleString="Link Notes"
    (emitClose)="onLinkNoteDialogClose()" (emitOpen)="onLinkNoteDialogOpen($event)"
    (emitOK)="linkNote($event)"
    [(display)]="displayLinkNoteDialog"></app-link-dialog>
<app-link-dialog
    [p]="this" titleString="Unlink Notes"
    (emitClose)="onUnlinkNoteDialogClose()" (emitOpen)="onUnlinkNoteDialogOpen($event)"
    (emitOK)="unlinkNote($event)"
    [(display)]="displayUnlinkNoteDialog"></app-link-dialog>
