<mat-card>
  <mat-card-title>
    <mat-toolbar>
      Multimedia
      <span class="example-fill-remaining-space"></span>
      @if (hasSignedIn()) {
        <span>
          <app-multimedia-add-button [parent]="this" [dataset]="dataset"></app-multimedia-add-button>
        </span>
      }
    </mat-toolbar>
  </mat-card-title>
  @if (galleryImages().length) {
    <mat-card-content>
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages()"></ngx-gallery>
    </mat-card-content>
  }
  @if (!galleryImages().length) {
    <mat-card-content></mat-card-content>
  }
</mat-card>
