<mat-card>
  <mat-card-title>
    <mat-toolbar>
      Multimedia
      <span class="example-fill-remaining-space"></span>
      <span>
        <app-multimedia-add-button [parent]="this" [dataset]="dataset"></app-multimedia-add-button>
      </span>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content *ngIf="galleryImages().length">
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages()"></ngx-gallery>
  </mat-card-content>
  <mat-card-content *ngIf="!galleryImages().length"></mat-card-content>
</mat-card>
<app-multimedia-dialog
    *ngIf="displayDialog" [p]="this"
    (emitClose)="onDialogClose()" (emitOpen)="onDialogOpen($event)"
    (emitOK)="update($event)"
    [(display)]="displayDialog"></app-multimedia-dialog>
