<div mat-dialog-title>
  <mat-toolbar color="primary"><mat-icon matListIcon>comment</mat-icon> &nbsp; New note</mat-toolbar>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <textarea matInput [rows]="8" [cols]="100" [(ngModel)]="data.text"
        autoResize="autoResize"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button (click)="onNoClick()" >Cancel</button>
</div>
