<p-dialog
    [modal]="true" [closable]="true"
    [closeOnEscape]="true" [dismissableMask]="true"
    (onHide)="close()" (onShow)="open()"
    [(visible)]="_display"
    appendTo="body">
  <p-header><i class="fa fa-book"></i> New Submitter</p-header>
  <br/>
  <div class="ui-float-label">
    <input id="float-input-name" type="text" size="50" pInputText [(ngModel)]="_data.name">
    <label for="float-input-name">Name</label>
  </div>
  <p-footer>
    <p-button label="OK" icon="fa fa-fw fa-check" (click)="ok()"></p-button>
    <p-button label="Cancel" icon="fa fa-fw fa-close" (click)="cancel()" [styleClass]="'ui-button-secondary'"></p-button>
  </p-footer>
<p-dialog>
