@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
    transform: none !important;
}

ngx-gallery-arrows.ngx-gallery-image-size-contain .fa {
    background: white;
    padding: 5px;
    color: black;
}

.ngx-gallery-icon {
    color: white;
}
