<app-person-family *ngFor="let attribute of person.fams; let i = index"
    [string]="attribute.string" [person]="person" [index]="i" [dataset]="dataset"></app-person-family>

<p-menu #menu popup="popup" #cm appendTo="body" [model]="items"></p-menu>
<p-button icon="fa fa-user-plus" (click)="menu.toggle($event)" pTooltip="Add new family"
    [styleClass]="'ui-button-success'"></p-button>
<br/>
<app-new-person-dialog2
    *ngIf="surnameS"
    [p]="this"
    (onClose)="closeDialog()" (onOpen)="onDialogOpenS($event)"
    (onOK)="createPerson($event)"
    [(display)]="displayS"></app-new-person-dialog2>
<app-new-person-dialog2
    *ngIf="surnameC"
    [p]="this"
    (onClose)="closeDialog()" (onOpen)="onDialogOpenC($event)"
    (onOK)="createPerson($event)"
    [(display)]="displayC"></app-new-person-dialog2>
