<p-panel header="{{parent.person.string}}: {{parent.person.indexName}}{{parent.lifespanDateString()}}">
  <p-header>
    <span class="bump-out" *ngIf="!person.famc.length">
      <p-button (click)="createParentFamily()" icon="fa fa-fw fa-user-plus"
          [styleClass]="'ui-button-success'" pTooltip="Add parent"></p-button>
    </span>
    <app-new-person-dialog2
        *ngIf="surname"
        [p]="this"
        (onClose)="closeDialog()"
        (onOpen)="onDialogOpen($event)"
        (onOK)="createPerson($event)"
        [(display)]="display"></app-new-person-dialog2>
  </p-header>
  <app-person-parent-family *ngFor="let famcAttribute of person.famc" [attribute]="famcAttribute"></app-person-parent-family>
</p-panel>
