<app-person-parent-families [parent]="this" [person]="person" [dataset]="dataset"></app-person-parent-families>
<br/>
<app-person-family-list [parent]="this" [person]="person" [dataset]="dataset"></app-person-family-list>
<br/>
<app-attribute-list [attributes]="person.attributes" [parent]="this" [toggleable]="true"></app-attribute-list>
<br/>
<p-panel header="Images" [toggleable]="true">
  <div>
    <ngx-gallery [options]="galleryOptions" [images]="galleryImages()"></ngx-gallery>
  </div>
</p-panel>
<br/>
<p-panel [showHeader]="false">
  <div><b>{{person.refn[0].string}}:&nbsp;</b> {{person.refn[0].tail}}</div>
  <div><b>{{person.changed[0].string}}:&nbsp;</b> {{person.changed[0].attributes[0].string}}</div>
</p-panel>
<br/>
