<p-panel [toggleable]="true">
  <p-header>
    <span>Family {{index+1}}</span>
    <span *ngIf="spouse()">&nbsp;-&nbsp;</span>
    <app-person-family-spouse *ngIf="spouse()" [attribute]="spouse()" [dataset]="dataset"></app-person-family-spouse>
    <span class="bump-out" *ngIf="!spouse()">
      <p-button (click)="createSpouse()" icon="fa fa-fw fa-user-plus"
          [styleClass]="'ui-button-success'" pTooltip="Add spouse"></p-button>
      <app-new-person-dialog2
          *ngIf="surname"
          [p]="this"
          (onClose)="closeDialog()"
          (onOpen)="onDialogOpen($event)"
          (onOK)="createPerson($event)"
          [(display)]="display"></app-new-person-dialog2>
    </span>
  </p-header>
  <div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
      <app-attribute-list [attributes]="family?.attributes" [parent]="this" [styleClass]="'ui-panel-titlebar-success'"></app-attribute-list>
    </div>
    <div class="ui-g-1"></div>
  </div>
  <div class="ui-g">
    <div class="ui-g-1"></div>
    <div class="ui-g-10">
      <p-panel header="Images" styleClass="ui-panel-titlebar-success">
        <ngx-gallery *ngIf="family?.images.length" [options]="galleryOptions" [images]="galleryImages()"></ngx-gallery>
      </p-panel>
    </div>
    <div class="ui-g-1"></div>
  </div>
  <app-person-family-child-list *ngIf="family?.children" [children]="family?.children" [family]="family" [parent]="this" [dataset]="dataset"></app-person-family-child-list>
</p-panel>
<br/>
