<br/>
<mat-divider [inset]="true"></mat-divider>
<br/>
<div *ngIf="children.length">
  <mat-list>
    <mat-list-item><span class="children label">Children:</span></mat-list-item>
    <mat-list>
      <app-person-family-child *ngFor="let child of children" [child]="child"></app-person-family-child>
      <mat-list-item>
        <button mat-icon-button color="primary" matTooltip="Add child"><mat-icon>person_add</mat-icon></button>
      </mat-list-item>
    </mat-list>
  </mat-list>
</div>
<div *ngIf="!children.length">
  <button mat-icon-button color="primary" (click)="createChild()" matTooltip="Add child"><mat-icon>person_add</mat-icon></button>
</div>
