<div mat-dialog-title>
  <mat-toolbar color="primary"><mat-icon matListIcon>book</mat-icon> &nbsp; New source</mat-toolbar>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-placeholder>Title</mat-placeholder>
    <input matInput [(ngModel)]="data.title">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Abbreviation</mat-placeholder>
    <input matInput [(ngModel)]="data.abbreviation">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Text</mat-placeholder>
    <textarea matInput [rows]="8" [cols]="100" [(ngModel)]="data.text"
        autoResize="autoResize"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button (click)="onNoClick()" >Cancel</button>
</div>
