<h1 mat-dialog-title>Attribute</h1>
<mat-dialog-content class="container">
  <mat-form-field>
    <mat-select placeholder="Type" [(value)]="data.type">
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Text" [(ngModel)]="data.text">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Date" [(ngModel)]="data.date">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Place" [(ngModel)]="data.place">
  </mat-form-field>
  <mat-form-field>
    <textarea matInput placeholder="Note" [(ngModel)]="data.note" rows="8"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onClickOK()" [mat-dialog-close]="data">OK</button>
  <button mat-button (click)="onNoClick()">Cancel</button>
</mat-dialog-actions>
