<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Page not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/header :: menubar-error">&nbsp;</div>

    <div class="outer">
    <div class="middle">
    <div class="inner">
    <h1>HTTP Status 404</h1>
    <h3>The page you were trying to reach was not found</h3>

    <div th:replace="fragments/footer :: footer-error">&nbsp;</div>

    </div>
    </div>
    </div>

<!-- anywhere in your document: -->
<form th:action="@{logout}" id="logoutForm">
  <!-- csrf hidden input included automagically -->
</form>
</body>
</html>
