<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Person not found</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />
</head>
<body>
    <div class="menubar">
        <span class="left">
            <span><a th:href="${error.homeUrl}">Home</a></span>
            <!--
            <span><a th:href="${person.indexHref}">Index</a></span>
            <span><a th:if="${person.hasRole('ADMIN')}" th:href="${person.livingHref}">Living</a></span>
            < ! - - span><a th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">Living</a></span - - >
            -->
        </span>
        <div  th:if="${#httpServletRequest.remoteUser} != null" class="right">
            <form th:action="@{logout}" method="post">
                <input class="menubar" type="submit" th:value="'Logout ' + ${error.userFirstname}"/>
            </form>
        </div>
        <span th:if="${#httpServletRequest.remoteUser} == null" class="right" th:inline="text"><a th:href="@{login}">Login</a></span>
    </div>
    <div class="outer">
    <div class="middle">
    <div class="inner">
    <h1>Unexpected exception</h1>
    <!-- h1 th:utext="${error.message}">Exception message goes here</h1 -->
    <p>Ask system administrator to check the logs.</p>
    <table class="buttonrow">
        <tr class="buttonrow">
            <td class="brleft">
                <p class="maintainer">Maintained by <a id="maintainerMail" th:href="'mailto:' + ${error.maintainerEmail}" th:text="${error.maintainerName}"></a>.<br/>
                Created with <a th:href="${error.applicationURL}" th:text="${error.name}"></a>, version <span th:text="${error.version}">2.0</span> on <span th:text="${#dates.format(#dates.createToday(),'MMMMM dd, yyyy')}"></span>.<br/>
                Get the sources on <a th:href="${error.applicationURL}">GitHub</a> <a th:href="${error.applicationURL}"><img src="images/github-25.png" style="vertical-align:top"/></a></p>
            </td>
        </tr>
    </table>
    </div>
    </div>
    </div>

<!-- anywhere in your document: -->
<form th:action="@{logout}" id="logoutForm">
  <!-- csrf hidden input included automagically -->
</form>
</body>
</html>
