<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title
     th:utext="'Living - ' + ${model.gedObject.dbName}">Living
     - schoeller</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/header :: menubar">&nbsp;</div>

    <div class="outer">
    <div class="middle">
    <div class="inner">

    <h2 th:if="${model.hasRole('ADMIN')}">Living</h2>
    <h2 th:if="!${model.hasRole('ADMIN')}">Administrators Only!</h2>
    <h3 th:if="${model.hasRole('ADMIN')}">A tabulation of people estimated to be living</h3>
    <ul th:if="${model.hasRole('ADMIN')}">
        <li th:each="bucket : ${model.buckets}"><a th:name="${bucket.lower}"></a><span
                 th:utext="${bucket.lower} + ' - ' + ${bucket.upper}" class="label">0 to 9</span>
            <ul>
                <li th:each="person : ${bucket.persons}" th:utext="${person.indexName}">name</li>
            </ul>
        </li>
    </ul>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>

    </div>
    </div>
    </div>

<!-- anywhere in your document: -->
<form th:action="@{logout}" id="logoutForm">
  <!-- csrf hidden input included automagically -->
</form>

</body>
</html>
