<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Living</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />
</head>
<body>
    <div class="menubar">
        <span class="left">
            <span><a th:href="${living.homeUrl}">Home</a></span>
            <span><a th:href="${living.indexHref}">Index</a></span>
            <span><a href="">Living</a></span>
        </span>
        <div  th:if="${#httpServletRequest.remoteUser} != null" class="right">
            <form th:action="@{logout}" method="post">
                <input class="menubar" type="submit" th:value="'Logout ' + ${living.userFirstname}"/>
            </form>
        </div>
        <span th:if="${#httpServletRequest.remoteUser} == null" class="right" th:inline="text"><a th:href="@{login}">Login</a></span>
    </div>
    <h2 th:if="${living.hasRole('ADMIN')}">Living</h2>
    <h2 th:if="!${living.hasRole('ADMIN')}">Administrators Only!</h2>
    <h3 th:if="${living.hasRole('ADMIN')}">A tabulation of people estimated to be living</h3>
    <ul th:if="${living.hasRole('ADMIN')}">
        <li th:each="bucket : ${living.buckets}"><a th:name="${bucket.lower}"></a><span th:utext="${bucket.lower} + ' - ' + ${bucket.upper}" class="label">0 to 9</span>
            <ul>
                <li th:each="person : ${bucket.persons}" th:utext="${person.indexName}">name</li>
            </ul>
        </li>
    </ul>

    <hr class="final"/>
    <table class="buttonrow">
        <tr class="buttonrow">
            <td class="brleft">
                <p class="maintainer">Maintained by <a id="maintainerMail" th:href="'mailto:' + ${appInfo.maintainerEmail}" th:text="${appInfo.maintainerName}"></a>.<br/>
                Created with <a th:href="${appInfo.applicationURL}" th:text="${appInfo.name}"></a>, version <span th:text="${appInfo.version}">2.0</span> on <span th:text="${#dates.format(#dates.createToday(),'MMMMM dd, yyyy')}"></span>.<br/>
                Get the sources on <a th:href="${appInfo.applicationURL}">GitHub</a> <a th:href="${appInfo.applicationURL}"><img src="images/github-25.png" style="vertical-align:top"/></a></p>
            </td>
        </tr>
    </table>

<!-- anywhere in your document: -->
<form th:action="@{logout}" id="logoutForm">
  <!-- csrf hidden input included automagically -->
</form>

</body>
</html>
