<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Login to GedBrowser</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />
</head>
<body>
    <div class="menubar">
        <span><a th:href="${appInfo.homeURL}">Home</a></span>
    </div>
    <div class="login" align="center">
        <h2 class="login">Welcome to gedbrowser</h2>
        <div th:if="${param.error}">Invalid username and password.</div>
        <div th:if="${param.logout}">You have been logged out.</div>
        <form th:action="@{login}" method="post">
            <table class="wrapper">
                <tr>
                    <td align="center">
                        <table class="login">
                            <tr><td class="form">Username:</td><td><input type="text" name="username"/></td></tr>
                            <tr><td class="form">Password:</td><td><input type="password" name="password"/></td></tr>
                            <tr><td class="form" colspan="2" align="center"><input type="submit" value="Login"/></td></tr>
                        </table>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="targetUrl" th:value="${referer}"/>
        </form>
    </div>

    <hr class="final"/>
    <table class="buttonrow">
        <tr class="buttonrow">
            <td class="brleft">
                <p class="maintainer">Maintained by <a id="maintainerMail" th:href="'mailto:' + ${appInfo.maintainerEmail}" th:text="${appInfo.maintainerName}"></a>.<br/>
                Created with <a th:href="${appInfo.applicationURL}" th:text="${appInfo.applicationName}"></a>, version <span th:text="${appInfo.version}">2.0</span> on <span th:text="${#dates.format(#dates.createToday(),'MMMMM dd, yyyy')}"></span>.<br/>
                Get the sources on <a th:href="${appInfo.applicationURL}">GitHub</a> <a th:href="${appInfo.applicationURL}"><img src="images/github-25.png" style="vertical-align:top"/></a></p>
            </td>
        </tr>
    </table>

</body>
</html>
