<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title
     th:text="${model.titleString} + ' - ' + ${model.idString} + ' - ' + ${model.gedObject.dbName}">Church
     Record - N9999 - schoeller</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/header :: menubar">&nbsp;</div>

    <div class="outer">
    <div class="middle">
    <div class="inner">

    <h3 class="attributes" th:text="'Note: ' + ${model.idString} + ' - ' + ${model.titleString}"></h3>

    <p th:utext="${model.contents}">
    </p>

    <div th:if="${not model.getAttributes().isEmpty()}">
        <hr class="attributes"/>
        <ul>
            <!-- FIXME utext is necessary because many listItemContents variants contain HTML formatting -->
            <li th:each="attribute : ${model.getAttributes()}" th:utext="${attribute.listItemContents}"></li>
        </ul>
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>

    </div>
    </div>
    </div>

<!-- anywhere in your document: -->
<form th:action="@{logout}" id="logoutForm">
  <!-- csrf hidden input included automagically -->
</form>

</body>
</html>
