<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title
     th:text="${model.wholeName} + ' ' + ${model.lifeSpanString} + ' - ' + ${model.idString} + ' - ' + ${model.gedObject.dbName}">John
     Doe (1 JAN 1900 - 31 DEC 2000) - I9999 - schoeller</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />

    <script type="text/javascript"
     th:src="'https://maps.googleapis.com/maps/api/js?key=' + ${key} + '&amp;callback=loadMap'"
     th:if="${showMap}"
     defer="defer"></script>

    <script type="text/javascript" th:inline="javascript" th:if="${showMap}">
    /*<![CDATA[*/
    function loadMap() {
        var myOptions = {
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_container"),myOptions);
        var places1 = [[${places}]];
        var bounds = new google.maps.LatLngBounds();
        for (i = 0; i < places1.length; i++) {
            var latlng = new google.maps.LatLng(places1[i].location.latitude, places1[i].location.longitude);
            var marker = new google.maps.Marker({
                position: latlng,
                map: map,
                title: places1[i].placeName
              });
            bounds.extend(marker.getPosition());
            var sw = new google.maps.LatLng(places1[i].southwest.latitude, places1[i].southwest.longitude);
            bounds.extend(sw);
            var ne = new google.maps.LatLng(places1[i].northeast.latitude, places1[i].northeast.longitude);
            bounds.extend(ne);
        }
        map.fitBounds(bounds);
  }
  /*]]>*/
</script>
</head>
<body>

    <div th:replace="fragments/header :: menubar">&nbsp;</div>

    <div class="outer">
    <div class="middle">
    <div class="inner">

    <!-- FIXME utext is necessary because titleName contains HTML formatting -->
    <h2 class="name"
        th:utext="${model.idString} + ': ' + ${model.wholeName} + ' ' + ${model.lifeSpanString}">I0:
        John <span class="surname">Doe</span> (1000-1070)</h2>

    <div id="map_container" th:if="${showMap}"></div>

    <p class="parent" th:if="${not model.parents.fatherNameHtml.isEmpty()}">
        <span class="parent label">Father:</span>
        <!-- FIXME utext is necessary because all nameHtml variants contain HTML formatting -->
        <span id="father" th:utext="${model.parents.fatherNameHtml}">Joe Doe</span>
    </p>
    <p class="parent" th:if="${not model.parents.motherNameHtml.isEmpty()}">
        <span class="parent label">Mother:</span>
        <!-- FIXME utext is necessary because all nameHtml variants contain HTML formatting -->
        <span id="mother" th:utext="${model.parents.motherNameHtml}">Rhonda Roe</span>
    </p>

    <div th:each="family,iterStat : ${model.families}" class="family">
        <hr class="family"/>
        <h3 class="family">Family <span th:text="${iterStat.count}">1</span></h3>
        <p th:id="'family-' + ${iterStat.count} + '-spouse'"
           class="spouse"
           th:if="${not family.getSpouse(model).nameHtml.isEmpty()}">
            <!-- FIXME utext is necessary because all nameHtml variants contain HTML formatting -->
            <span class="spouse label">Spouse:</span><span th:utext="${family.getSpouse(model).nameHtml}"></span>
        </p>
        <ul th:id="'family-' + ${iterStat.count} + '-attributes'"  th:if="${not family.getAttributes().isEmpty()}">
            <!-- FIXME utext is necessary because many listItemContents variants contain HTML formatting -->
            <li th:id="'family-' + ${iterStat.count} + '-attribute-' + ${familyAttrStat.count}"
                th:each="attribute,familyAttrStat : ${family.getAttributes()}"
                th:utext="${attribute.listItemContents}"></li>
        </ul>
        <div th:if="${not family.children.isEmpty()}">
            <span class="children label">Children:</span>
            <ol class="children">
                <!-- FIXME utext is necessary because all nameHtml variants contain HTML formatting -->
                <li th:id="'family-' + ${iterStat.count} + '-child-' + ${childStat.count}"
                    th:each="child,childStat : ${family.children}"
                    th:utext="${child.nameHtml}">
                </li>
            </ol>
        </div>
    </div>

    <div th:if="${not model.getAttributes().isEmpty()}">
        <hr class="attributes"/>
        <h3 class="attributes">Attributes</h3>
        <ul>
            <!-- FIXME utext is necessary because many listItemContents variants contain HTML formatting -->
            <li th:id="'attribute-' + ${attrStat.count}"
                th:each="attribute,attrStat : ${model.getAttributes()}"
                th:utext="${attribute.listItemContents}"></li>
        </ul>
    </div>

    <div th:if="${not model.isConfidential()}">
        <hr class="tree"/>
        <h3 class="tree">Ancestor tree</h3>
        <table class="tree">
            <tr th:each="row,rowStat : ${model.getTreeRows(5)}" class="tree">
                <td class="tree">&nbsp;&nbsp;&nbsp;</td>
                <td th:id="'tree-' + ${rowStat.count} + 'x' + ${cellStat.count}"
                    th:each="cell,cellStat : ${row.cells}"
                    th:class="'tree ' + ${cell.cellClass}"
                    th:utext="${cell.nameHtml}"></td>
            </tr>
        </table>
    </div>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>

    </div>
    </div>
    </div>

<!-- anywhere in your document: -->
<form th:action="@{logout}" id="logoutForm">
  <!-- csrf hidden input included automagically -->
</form>

</body>
</html>
