<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Surnames</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" href="css/gedbrowser.css" rel="stylesheet" />
</head>
<body>
    <div th:replace="fragments/header :: menubar">&nbsp;</div>

    <div class="outer">
    <div class="middle">
    <div class="inner">

    <h2>Index</h2>
    <h3>Pick an initial letter</h3>
    <span th:each="letter : ${model.letters}" th:utext="${letter} + ' &nbsp; '">[ A ]</span>
    <h3 th:utext="'Index of names beginning with ' + ${model.base}">Index of names beginning with ${model.base}</h3>
    <ul>
        <li th:each="surname : ${model.surnames}"><a th:name="${surname}"></a><span th:utext="${surname}" class="label">surname</span>
            <ul>
                <li th:each="name : ${model.getIndexNameHtmls(surname)}" th:utext="${name}">name</li>
            </ul>
        </li>
    </ul>

    <div th:replace="fragments/footer :: footer">&nbsp;</div>

    </div>
    </div>
    </div>

<!-- anywhere in your document: -->
<form th:action="@{logout}" id="logoutForm">
  <!-- csrf hidden input included automagically -->
</form>

</body>
</html>
