<?xml version="1.0" encoding="UTF-8"?>

<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USER}</username>
      <password>${env.OSSRH_PASS}</password>
    </server>
    <server>
      <id>docker-hub</id>
      <username>${env.DOCKERUSER}</username>
      <password>${env.DOCKERPASS}</password>
      <configuration>
        <email>schoeller@comcast.net</email>
      </configuration>
    </server>
  </servers>

  <profiles>
    <profile>
      <id>install</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <maven.javadoc.skip>true</maven.javadoc.skip>
        <skipDocker>true</skipDocker>
        <findbugs.skip>true</findbugs.skip>
        <cpd.skip>true</cpd.skip>
        <pmd.skip>true</pmd.skip>
        <checkstyle.skip>true</checkstyle.skip>
        <jacoco.skip>true</jacoco.skip>
        <skip.integration.tests>true</skip.integration.tests>
        <skip.unit.tests>true</skip.unit.tests>
      </properties>
    </profile>
    <profile>
      <id>deploy</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <findbugs.skip>true</findbugs.skip>
        <cpd.skip>true</cpd.skip>
        <pmd.skip>true</pmd.skip>
        <checkstyle.skip>true</checkstyle.skip>
        <jacoco.skip>true</jacoco.skip>
        <gpg.executable>gpg</gpg.executable>
        <gpg.keyname>${env.GPG_KEY_NAME}</gpg.keyname>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
        <skip.integration.tests>true</skip.integration.tests>
        <skip.unit.tests>true</skip.unit.tests>
      </properties>
    </profile>
    <profile>
      <id>integration-test</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <findbugs.skip>true</findbugs.skip>
        <cpd.skip>true</cpd.skip>
        <pmd.skip>true</pmd.skip>
        <checkstyle.skip>true</checkstyle.skip>
        <jacoco.skip>true</jacoco.skip>
        <maven.javadoc.skip>true</maven.javadoc.skip>
        <skip.integration.tests>false</skip.integration.tests>
        <skip.unit.tests>true</skip.unit.tests>
      </properties>
    </profile>
    <profile>
      <id>travis-build</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <findbugs.skip>false</findbugs.skip>
        <cpd.skip>false</cpd.skip>
        <pmd.skip>false</pmd.skip>
        <checkstyle.skip>false</checkstyle.skip>
        <jacoco.skip>false</jacoco.skip>
        <maven.javadoc.skip>false</maven.javadoc.skip>
        <skip.integration.tests>true</skip.integration.tests>
        <skip.unit.tests>false</skip.unit.tests>
      </properties>
    </profile>
    <profile>
      <id>travis-integration-test</id>
      <activation>
        <activeByDefault>false</activeByDefault>
      </activation>
      <properties>
        <findbugs.skip>true</findbugs.skip>
        <cpd.skip>true</cpd.skip>
        <pmd.skip>true</pmd.skip>
        <checkstyle.skip>true</checkstyle.skip>
        <jacoco.skip>true</jacoco.skip>
        <maven.javadoc.skip>true</maven.javadoc.skip>
        <skip.integration.tests>false</skip.integration.tests>
        <skip.unit.tests>true</skip.unit.tests>
        <printNavigation>true</printNavigation>
      </properties>
    </profile>
  </profiles>

  <!-- proxies>
    <proxy>
      <active>true</active>
      <protocol>http</protocol>
      <host>proxy.bos.sap.corp</host>
      <port>8080</port>
      <nonProxyHosts>*.ariba.com|*.sap.corp|*.corp.sap</nonProxyHosts>
    </proxy>
  </proxies -->
</settings>
