<div mat-dialog-title>
  <mat-toolbar color="primary"><mat-icon matListIcon>add_box</mat-icon> &nbsp; New attribute</mat-toolbar>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-placeholder>Attribute type</mat-placeholder>
    <mat-select [(ngModel)]="data.data.type">
      <mat-option *ngFor="let option of data.options" [value]="option.value">{{ option.label }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Text</mat-placeholder>
    <input matInput [(ngModel)]="data.data.text">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Date</mat-placeholder>
    <input matInput [(ngModel)]="data.data.date">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Place</mat-placeholder>
    <input matInput [(ngModel)]="data.data.place">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Note</mat-placeholder>
    <textarea matInput [rows]="8" [cols]="100" [(ngModel)]="data.data.note"
        autoResize="autoResize"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button [mat-dialog-close]="data.data" cdkFocusInitial>OK</button>
  <button mat-button (click)="onNoClick()" >Cancel</button>
</div>
