<mat-list-item class="parent">
  <b>{{attributeUtil.label()}}:&nbsp;</b><span *ngIf="attributeUtil.contents()"> {{attributeUtil.contents()}}<span *ngIf="attribute.attributes">,&nbsp;</span></span>
  <app-attribute-list-item-detail-list [attributes]="attribute.attributes"></app-attribute-list-item-detail-list>
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="attributeUtil.editable()" class="hidden">
    <button mat-icon-button color="primary" (click)="edit()" matTooltip="Edit attribute"><mat-icon>edit</mat-icon></button>
    <button mat-icon-button color="primary" (click)="moveUp()" *ngIf="!attributeUtil.first()" matTooltip="Move attribute up"><mat-icon>arrow_drop_up</mat-icon></button>
    <button mat-icon-button color="primary" (click)="moveDown()" *ngIf="!attributeUtil.last()" matTooltip="Move attribute down"><mat-icon>arrow_drop_down</mat-icon></button>
    <button mat-icon-button color="accent" (click)="delete()" matTooltip="Delete attribute"><mat-icon>delete_forever</mat-icon></button>
  </span>
</mat-list-item>
