<div class="parent">
  <b>{{attributeUtil.label()}}:&nbsp;</b><span *ngIf="attributeUtil.contents()"> {{attributeUtil.contents()}}<span *ngIf="attribute.attributes">,&nbsp;</span></span>
  <app-attribute-list-item-detail-list [attributes]="attribute.attributes"></app-attribute-list-item-detail-list>
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="attributeUtil.editable()" class="hidden">
    <p-button icon="fa fa-fw fa-pencil" (onClick)="edit()" pTooltip="Edit attribute"></p-button>
    <p-button icon="fa fa-fw fa-trash" (onClick)="delete()" pTooltip="Delete attribute" [styleClass]="'ui-button-danger'"></p-button>
  </span>
</div>
