<mat-card>
  <mat-card-title>
    <mat-toolbar>
      Attributes
      <span class="example-fill-remaining-space"></span>
      @if (hasSignedIn()) {
        <span>
          <button (click)="openCreateAttributeDialog()" mat-icon-button color="primary"
              matTooltip="Add attribute"><mat-icon>add_box</mat-icon></button>
          @if (showNotes) {
            <app-note-button [parent]="this" [dataset]="dataset"></app-note-button>
          }
          @if (showSources) {
            <app-source-button [parent]="this" [dataset]="dataset"></app-source-button>
          }
          @if (showSubmitters) {
            <app-submitter-button [parent]="this" [dataset]="dataset"></app-submitter-button>
          }
        </span>
      }
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <div cdkDropList class="attribute-list" (cdkDropListDropped)="drop($event)"
        [cdkDropListDisabled]="!hasSignedIn()">
      @for (attribute of attributes; track $index; let i = $index) {
        <div cdkDrag class="{{ hasSignedIn() ? 'attribute-box' : '' }}">
          <app-attribute-list-item
              [parent]="parent" [dataset]="dataset" [attribute]="attribute"
              [attributeList]="attributes" [index]="i"></app-attribute-list-item>
        </div>
      }
    </div>
  </mat-card-content>
</mat-card>
