<div class="parent">
  <b>{{ attributeUtil.label() }}:&nbsp;</b><span *ngIf="attributeUtil.contents()">
    <span *ngIf="href(); else elseLinkBlock"><a
        href="{{ href() }}">[{{ attributeUtil.contents() }}]</a></span><ng-template
        #elseLinkBlock><span>{{ attributeUtil.contents() }}</span></ng-template><span
        *ngIf="attribute?.attributes.length">,</span>
   </span>
  <app-attribute-list-item-detail-list [dataset]="dataset" [attributes]="attribute?.attributes"></app-attribute-list-item-detail-list>
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="attributeUtil.editable()" class="hidden">
    <p-button (onClick)="edit()"
        icon="fa fa-fw fa-pencil" pTooltip="Edit attribute"></p-button>
    <p-button [styleClass]="'ui-button-danger'" (onClick)="delete()"
        icon="fa fa-fw fa-trash" pTooltip="Delete attribute"></p-button>
    <app-sources *ngIf="!href()"[parent]="this" [dataset]="dataset"></app-sources>
  </span>
</div>
<app-new-attribute-dialog
    [p]="this" [options]="options()" (emitClose)="onAttributeDialogClose()"
    (emitOpen)="onAttributeDialogOpen($event)" (emitOK)="onAttributeDialogOK($event)"
    [(display)]="displayAttributeDialog"></app-new-attribute-dialog>
