<span>
  <p-menu #sourcemenu popup="popup" #cm appendTo="body" [model]="sourcemenuitems"></p-menu>
  <p-splitButton [styleClass]="'ui-button-success'" (click)="sourcemenu.toggle($event)"
      icon="fa fa-fw fa-book" pTooltip="Source"></p-splitButton>
  <app-new-source-dialog
      [p]="this"
      (emitClose)="onSourceDialogClose()" (emitOpen)="onSourceDialogOpen($event)"
      (emitOK)="createSource($event)"
      [(display)]="displaySourceDialog"></app-new-source-dialog>
  <app-link-source-dialog
      [p]="this" titleString="Link Sources"
      (emitClose)="onLinkSourceDialogClose()" (emitOpen)="onLinkSourceDialogOpen($event)"
      (emitOK)="linkSource($event)"
      [(display)]="displayLinkSourceDialog"></app-link-source-dialog>
  <app-link-source-dialog
      [p]="this" titleString="Unlink Sources"
      (emitClose)="onUnlinkSourceDialogClose()" (emitOpen)="onUnlinkSourceDialogOpen($event)"
      (emitOK)="unlinkSource($event)"
      [(display)]="displayUnlinkSourceDialog"></app-link-source-dialog>
</span>
