<div class="parent">
  <b>{{ attributeUtil.label() }}:&nbsp;</b><span *ngIf="attributeUtil.contents()">
    <span *ngIf="href(); else elseLinkBlock"><a
        href="{{ href() }}">[{{ attributeUtil.contents() }}]</a></span><ng-template
        #elseLinkBlock><span>{{ attributeUtil.contents() }}</span></ng-template><span
        *ngIf="attribute?.attributes.length">,</span>
   </span>
  <app-attribute-list-item-detail-list [dataset]="dataset" [attributes]="attribute?.attributes">
    </app-attribute-list-item-detail-list>
  <span class="example-fill-remaining-space"></span>
  <span *ngIf="attributeUtil.editable()" class="hidden">
    <button mat-icon-button matTooltip="Edit" color="primary" (click)="edit()">
      <mat-icon matListIcon>edit</mat-icon></button>
    <app-multimedia-edit-button *ngIf="attributeUtil.multimedia()"
        [parent]="this" [dataset]="dataset" [attributes]="attributeList" [index]="index">
      </app-multimedia-edit-button>
    <button mat-icon-button matTooltip="Delete" color="warn" (click)="delete()">
      <mat-icon matListIcon>delete</mat-icon></button>
    <app-source-button *ngIf="!href()" [parent]="this" [dataset]="dataset"></app-source-button>
  </span>
</div>
