<p-panel header="Attributes" [toggleable]="toggleable" [styleClass]="styleClass">
  <p-header>
    <span class="bump-out">
      <p-button *ngIf="showAdd" [styleClass]="'ui-button-success'" (click)="create()"
          icon="fa fa-fw fa-plus-circle" pTooltip="Create attribute"></p-button>
      <app-note-button *ngIf="showNotes" [parent]="this" [dataset]="dataset"></app-note-button>
      <app-source-button *ngIf="showSources" [parent]="this" [dataset]="dataset"></app-source-button>
      <app-submitter-button *ngIf="showSubmitters" [parent]="this" [dataset]="dataset"></app-submitter-button>
    </span>
  </p-header>
  <div>
    <p-orderList [value]="attributes" [responsive]="false"
        [listStyle]="{'height':'100%','width':'100%','border':'0'}"
        (onReorder)="parent.save()"
        dragdrop="true" dragdropScope="attributes">
      <ng-template let-attribute let-i="index" pTemplate="item">
        <div>
          <app-attribute-list-item [parent]="parent" [dataset]="dataset" [attribute]="attribute"
              [attributeList]="attributes" [index]="i">
          </app-attribute-list-item>
        </div>
      </ng-template>
    </p-orderList>
  </div>
</p-panel>
<app-new-attribute-dialog [p]="this" [options]="options()"
    (emitClose)="onDialogClose()" (emitOpen)="onDialogOpen($event)"
    (emitOK)="onDialogOK($event)"
    [(display)]="display"></app-new-attribute-dialog>
