<div mat-dialog-title>
  <mat-toolbar color="primary"><mat-icon matListIcon>person</mat-icon> &nbsp; New person</mat-toolbar>
</div>
<div mat-dialog-content>
  <mat-form-field>
    <mat-placeholder>Name</mat-placeholder>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Sex</mat-placeholder>
    <mat-select [(ngModel)]="data.sex">
      <mat-option value="">-- Unknown --</mat-option>
      <mat-option value="M">Male</mat-option>
      <mat-option value="F">Female</mat-option>
    </mat-select>
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Birth date</mat-placeholder>
    <input matInput [(ngModel)]="data.birthDate">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Birth place</mat-placeholder>
    <input matInput [(ngModel)]="data.birthPlace">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Death date</mat-placeholder>
    <input matInput [(ngModel)]="data.deathDate">
  </mat-form-field>
  <br/>
  <mat-form-field>
    <mat-placeholder>Death place</mat-placeholder>
    <input matInput [(ngModel)]="data.deathPlace">
  </mat-form-field>
  <br/>
</div>
<div mat-dialog-actions>
  <span class="example-fill-remaining-space"></span>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>OK</button>
  <button mat-button (click)="onNoClick()" >Cancel</button>
</div>
