<p-panel header="{{ person?.string }}: {{ person?.indexName }}{{ lifespanDateString() }}">
  <p-header>
    <span class="bump-out" *ngIf="!person.famc.length">
      <app-new-person
          [sex]="sex" [surname]="surname" [label]="'Create parent'"
          (emitOK)="createPerson($event)"></app-new-person>
      <app-link-person
          [parent]="this" [multi]="false" [label]="'Link parent'"
          (emitOK)="linkParent($event)"></app-link-person>
    </span>
  </p-header>
  <app-person-parent-family *ngFor="let famcAttribute of person?.famc"
      [dataset]="dataset" [parent]="this" [attribute]="famcAttribute"></app-person-parent-family>
</p-panel>
