<mat-card>
  <mat-card-title>
    <mat-toolbar>
    Parents and Siblings
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="!person.famc.length">
      <app-new-person
          [sex]="sex" [surname]="surname" [label]="'Create parent'"
          color="primary"
          (emitOK)="createPerson($event)"></app-new-person>
      <app-link-person
          [parent]="this" [dataset]="dataset" [multi]="false" [label]="'Link parent'"
          color="primary"
          (emitOK)="linkPerson($event)"></app-link-person>
    </span>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
    <div cdkDropList class="family-list" (cdkDropListDropped)="drop($event)">
      <div class="family-box" *ngFor="let attribute of person?.famc let i=index" cdkDrag>
        <app-person-parent-family
            [dataset]="dataset" [parent]="this" [attribute]="attribute"></app-person-parent-family>
      </div>
    </div>
  </mat-card-content>
</mat-card>
