<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <p-panel header="Children" styleClass="ui-panel-titlebar-success">
      <p-header>
        <span class="bump-out">
          <p-menu #menu popup="popup" #cm appendTo="body" [model]="items"></p-menu>
          <p-splitButton icon="fa fa-user-plus" (click)="menu.toggle($event)" pTooltip="Add child"
              [styleClass]="'ui-button-success'"></p-splitButton>
        </span>
      </p-header>

      <p-orderList [value]="children" dragdrop="true" dragdropScope="children"
          [responsive]="false" [listStyle]="{'height':'100%','width':'100%','border':'0'}"
          (onReorder)="parent.save()">
        <ng-template let-child let-i="index" pTemplate="item">
          <div>
            <app-person-family-child [child]="child" [index]="i"
                [parent]="parent" [dataset]="dataset"></app-person-family-child>
          </div>
        </ng-template>
      </p-orderList>
    </p-panel>
  </div>
  <div class="ui-g-1"></div>
</div>
<app-new-person-dialog *ngIf="surname" [p]="this"
    (emitClose)="closePersonDialog()" (emitOpen)="onDialogOpen($event)"
    (emitOK)="createPerson($event)"
    [(display)]="displayPersonDialog">
</app-new-person-dialog>
<app-link-person-dialog *ngIf="surname" [p]="this"
    titleString="Link Child" [multi]="true"
    (emitClose)="onLinkChildDialogClose()"
    (emitOpen)="onLinkChildDialogOpen($event)"
    (emitOK)="linkChild($event)"
    [(display)]="displayLinkChildDialog">
</app-link-person-dialog>
