<mat-card>
  <mat-card-title>
    Parents and Siblings
    <span class="example-fill-remaining-space"></span>
    <span *ngIf="!person.famc.length">
      <app-new-person
          [sex]="sex" [surname]="surname" [label]="'Create parent'"
          color="primary"
          (emitOK)="createPerson($event)"></app-new-person>
      <app-link-person
          [parent]="this" [dataset]="dataset" [multi]="false" [label]="'Link parent'"
          color="primary"
          (emitOK)="linkPerson($event)"></app-link-person>
    </span>
  </mat-card-title>
  <mat-card-content>
    <p-orderList [value]="person?.famc" [responsive]="false"
        [listStyle]="{'height':'100%','width':'100%','border':'0'}"
        (onReorder)="parent.save()"
        dragdrop="true" dragdropScope="person.fams">
      <ng-template let-attribute let-i="index" pTemplate="item">
        <div>
          <app-person-parent-family
              [dataset]="dataset" [parent]="this" [attribute]="attribute"></app-person-parent-family>
        </div>
      </ng-template>
    </p-orderList>
  </mat-card-content>
</mat-card>
