@import '../../app.component.css';

button[icon="fa-angle-up"] {
  display: none !important;
}

button[icon="fa-angle-down"] {
  display: none !important;
}

button[icon="fa-angle-double-up"] {
    display: none !important;
}

button[ng-reflect-icon="fa-angle-double-up"] {
    display: none !important;
}

div.ui-orderlist-controls {
    display: none !important;
}

.mat-card-footer {
  margin: 24px;
}
