<mat-card>
  <mat-card-title>
    <mat-toolbar color="primary">
      <mat-toolbar-row *ngFor="let spouse of family?.spouses">
        <app-person-parent [dataset]="dataset" [parent]="this"
            [attribute]="spouse"></app-person-parent>
        <span class="example-fill-remaining-space"></span>
        <span *ngIf="family?.spouses.length < 2">
          <app-new-person
              [sex]="sex" [surname]="surname" [label]="'Create parent'"
              (emitOK)="createPerson($event)"></app-new-person>
          <app-link-person
              [parent]="this" [dataset]="dataset" [multi]="false" [label]="'Link parent'"
              (emitOK)="linkPerson($event)"></app-link-person>
        </span>
      </mat-toolbar-row>
      <mat-toolbar-row *ngIf="family?.spouses.length == 0">
          <app-new-person
              [sex]="sex" [surname]="surname" [label]="'Create parent'"
              (emitOK)="createPerson($event)"></app-new-person>
          <app-link-person
              [parent]="this" [dataset]="dataset" [multi]="false" [label]="'Link parent'"
              (emitOK)="linkPerson($event)"></app-link-person>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-card-title>
  <mat-card-content>
<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <mat-card>
      <mat-card-title>
        <mat-toolbar>
          Siblings (including self)
        </mat-toolbar>
      </mat-card-title>
      <mat-card-content>
        <div cdkDropList class="child-list" (cdkDropListDropped)="drop($event)"
            [cdkDropListDisabled]="!hasSignedIn()">
          <div cdkDrag class="{{ hasSignedIn() ? 'child-box' : ''"
              *ngFor="let child of family?.children; let i=index">
            <app-person-family-child [dataset]="dataset" [parent]="this"
                [child]="child" [index]="i"></app-person-family-child>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="ui-g-1"></div>
</div>
  </mat-card-content>
</mat-card>
