<app-person-family *ngFor="let attribute of person.fams; let i = index"
    [dataset]="dataset" [parent]="this" [string]="attribute.string"
    [index]="i"></app-person-family>

<app-new-person
    [sex]="partnerSex" [surname]="partnerSurname" [label]="'Create spouse'"
    (emitOK)="createSpouse($event)"></app-new-person>
<app-link-person
    [parent]="this" [multi]="false" [label]="'Link spouse'"
    (emitOK)="linkSpouse($event)"></app-link-person>
<app-new-person
    [sex]="childSex" [surname]="childSurname" [label]="'Create child'"
    (emitOK)="createChild($event)"></app-new-person>
<app-link-person
    [parent]="this" [multi]="true" [label]="'Link children'"
    (emitOK)="linkChildren($event)"></app-link-person>
<br/>
