<p-orderList [value]="family?.spouses" dragdrop="false"
    [responsive]="false" [listStyle]="{'height':'100%','width':'100%','border':'0'}">
  <ng-template let-spouse pTemplate="listItem">
    <div class="parent-family">
      <app-person-parent [dataset]="dataset" [parent]="this"
          [attribute]="spouse"></app-person-parent>
    </div>
  </ng-template>
</p-orderList>
<div *ngIf="family?.spouses.length < 2">
  <p-menu #menu popup="popup" #cm appendTo="body" [model]="items"></p-menu>
  <p-splitButton icon="fa fa-user-plus" (click)="menu.toggle($event)" pTooltip="Add parent"
      [styleClass]="'ui-button-success'"></p-splitButton>
</div>
<div class="ui-g">
  <div class="ui-g-1"></div>
  <div class="ui-g-10">
    <p-panel header="Siblings (including self)" styleClass="ui-panel-titlebar-success">
      <p-orderList [value]="family?.children" dragdrop="false"
          [responsive]="false" [listStyle]="{'height':'100%','width':'100%','border':'0'}">
        <ng-template let-child let-i="index" pTemplate="item">
          <div>
            <app-person-family-child [dataset]="dataset" [parent]="this"
                [child]="child" [index]="i"></app-person-family-child>
          </div>
        </ng-template>
      </p-orderList>
    </p-panel>
  </div>
  <div class="ui-g-1"></div>
</div>
<app-new-person-dialog [p]="this"
    (emitClose)="closePersonDialog()" (emitOpen)="onDialogOpen($event)"
    (emitOK)="createPerson($event)"
    [(display)]="displayPersonDialog">
</app-new-person-dialog>
<app-link-person-dialog [p]="this"
    titleString="Link Parent" [multi]="false"
    (emitClose)="onLinkParentDialogClose()"
    (emitOpen)="onLinkParentDialogOpen($event)"
    (emitOK)="linkParent($event)"
    [(display)]="displayLinkParentDialog">
</app-link-person-dialog>
