<app-person-parent-families [dataset]="dataset" [parent]="this"></app-person-parent-families>
<br/>
<app-person-family-list [dataset]="dataset" [parent]="this"></app-person-family-list>
<br/>
<app-attribute-list [dataset]="dataset" [parent]="this" [attributes]="person.attributes" [toggleable]="true"></app-attribute-list>
<br/>
<app-multimedia-gallery [dataset]="dataset" [parent]="this" [multimedia]="person.images"></app-multimedia-gallery>
<br/>
<p-panel [showHeader]="false">
  <div><b>{{ person?.refn[0].string }}:&nbsp;</b> {{ person?.refn[0].tail }}</div>
  <div><b>{{ person?.changed[0].string }}:&nbsp;</b> {{ person?.changed[0].attributes[0].string }}</div>
</p-panel>
<br/>
