<span>
  <button mat-icon-button matTooltip="Source" [matMenuTriggerFor]="sourceMenu" color="primary">
    <mat-icon matListIcon>book</mat-icon></button>
</span>

<mat-menu #sourceMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item (click)="openCreateSourceDialog()"><mat-icon>library_add</mat-icon> Add source</button>
  <button mat-menu-item (click)="openLinkSourceDialog()"><mat-icon>link</mat-icon> Link source</button>
  <button mat-menu-item (click)="openUnlinkSourceDialog()"><mat-icon color="warn">link_off</mat-icon> Unlink source</button>
</mat-menu>
