<app-main-layout [dataset]="dataset">
  <p-dataView [value]="submitters" [style]="{'min-width':'500px'}" [paginator]="true" [rows]="30"
      paginatorPosition="both" pageLinks="10" [rowsPerPageOptions]="[10, 30, 100, 10000]"
      [alwaysShowPaginator]="false">
    <p-header><span>Submitter List</span>
      <span class="bump-out">
        <button mat-icon-button matTooltip="New submitter" color="primary" (click)="openCreateSubmitterDialog()">
          <mat-icon matListIcon>add_box</mat-icon></button>
      </span>
    </p-header>
    <ng-template let-submitter pTemplate="listItem">
      <div class="main-list">
        <app-submitter-list-item [parent]="this" [submitter]="submitter" [dataset]="dataset"></app-submitter-list-item>
      </div>
    </ng-template>
  </p-dataView>
</app-main-layout>
