config.stopBubbling = true
lombok.addLombokGeneratedAnnotation = true
lombok.copyJacksonAnnotationsToAccessors = true
lombok.copyableAnnotations += io.micronaut.context.annotation.Value
lombok.copyableAnnotations += io.micronaut.context.annotation.Property
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
